@page "/persons/add"
@using LibrarianApplication.Blazor.Model;
@using LibrarianApplication.Blazor.Services;
@using LibraryApp.Contract;
@inject IPersonService PersonService
@inject NavigationManager NavigationManager

<h3>Add Member</h3>
<MemberForm Person="@Person" ButtonTitle="Add" HandleValidSubmitAsync="@HandleValidSubmitAsync"/>

@code {
    private Person Person { get; set; } = new();

    private async Task HandleValidSubmitAsync()
    {
        await PersonService.AddPersonAsync(Person);
        NavigationManager.NavigateTo("/persons");
    }
}
