@using LibrarianApplication.Blazor.Model;
<EditForm Model="@Borrow" OnValidSubmit="@HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <div class="mb0">
        <label class="col-form-label">Publisher</label>
        <InputDate @bind-Value="@Borrow.BorrowDate" class="form-control" />
        <ValidationMessage For="() => Borrow.BorrowDate" />
    </div>
    <div class="mb0">
        <label class="col-form-label">ReturnDate</label>
        <InputDate @bind-Value="@Borrow.ReturnDate" class="form-control" />
        <ValidationMessage For="() => Borrow.ReturnDate" />
    </div>
    <button style="margin-top:10px" type="submit" class="btn btn-primary form-control mb-3">Borrow</button>
</EditForm>

@code {
    [Parameter]
    public Borrow Borrow { get; set; }
    [Parameter]
    public Book Book { get; set; }
    [Parameter]
    public Person Member { get; set; }
    [Parameter]
    public Func<Task> HandleValidSubmitAsync { get; set; }
}
