@page "/"
@using LibraryUserApplication.Blazor.Model;
@using LibraryUserApplication.Blazor.Services;
@using LibraryApp.Contract;
@inject IBookService BookService

@if (Books is null)
{
    <p>Loading...</p>
}
else
{
    <h3>Book List</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>EditionYear</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.EditionYear</td>
                    <td><a href="/getbyid/@book.InventoryNumber" class="btn btn-primary">Status</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Book>? Books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Books = await BookService.GetAllBookAsync();
    }
}