@page "/userquery/selected/{name}"
@using LibraryUserApplication.Blazor.Model;
@using LibraryUserApplication.Blazor.Services;
@using LibraryApp.Contract;
@inject IBookService BookService
@inject IPersonService PersonService
@inject IBorrowService BorrowService
@inject NavigationManager NavigationManager

@if (BorrowInfos is null)
{
    <p>Loading...</p>
} 
else
{
    <h3>@name's borrowed books</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date of borrowing</th>
                <th>Return date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var borrow in BorrowInfos)
            {
                <tr>
                    <td>@borrow.Title</td>
                    <td>@borrow.BorrowDate</td>
                    <td>@borrow.ReturnDate</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/userquery" class="btn btn-primary">Back to the query page</a>
}

@code {
    [Parameter]
    public string? name { get; set; }
    private IEnumerable<BorrowInfo>? BorrowInfos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BorrowInfos = await BorrowService.GetBorrowByNameAsync(name);
    }
}