@page "/userquery"
@using LibraryUserApplication.Blazor.Model;
@using LibraryUserApplication.Blazor.Services;
@using LibraryApp.Contract;
@inject IBookService BookService
@inject IPersonService PersonService
@inject NavigationManager NavigationManager

<h3>Check your borrowed books</h3>
    <EditForm Model="Person">
        <div class="mb0">
            <label class="col-form-label">Give us your name to check your borrowed books</label>
            <InputText @bind-Value="@name" class="form-control" />
        <a href="userquery/selected/@name" class="btn btn-primary">OK</a>
        </div>
    </EditForm>


@code {
    public string? name { get; set; }
    private Person Person { get; set; } = new();
}
